
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<style>
    .main-agileinfo {
        padding: 40px;
        text-align: center;
    }

    .agileits-top p {
        font-size: 18px;
    }

</style>

<div class="main-agileinfo">
	<div class="agileits-top">
		
		<p>Check Your Inbox :) </p>

	</div>
</div>

